[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
pytest-xdist = "*"
pytest-selenium = "*"
pytest-html = "*"
pytest-base-url = "*"
pytest-variables = "*"
pytest-splinter = "*"
setuptools = "==51.1.0.post20201221"

[dev-packages]

[requires]
python_version = ">3.6"
